<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ClientesMesas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Mesas Clientes</title>
</head>

<body>
    <div class="container navbar-expand-xl">
        <h1 class="text-center align-content-center">Registro de Clientes</h1>
    </div>
    <form class="MAXWandH" method="post" action="">

        <div id="SeccionPrincipalLR" class="container d-flex border">
            <div id="LSectionListaComidaBufet" class="">
                <img class="LogoCEB" src="/images/menu.svg" alt="">
            </div>
            <div id="RSectionListaComidaBufet" class="border d-flex">
                <div id="datosCliente" class="d-block ">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" id="inputCedCliente" name="inputCedCliente"
                            placeholder="Cedula del Cliente">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" id="inputNomCliente" name="inputNomCliente"
                            placeholder="Nombre del Cliente">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" id="inputApClienteUno" name="inputApClienteUno"
                            placeholder="Apellido Uno">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" id="inputApClienteDos" name="inputApClienteDos"
                            placeholder="Apellido Dos">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" id="inputMontoPago" name="inputMontoPago"
                            placeholder="Monto de Pago">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <textarea id="inputDetalle" name="inputDetalle" class="form-control" placeholder="Detalle"
                            aria-label="With textarea"></textarea>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <input type="date" class="form-control" id="inputFecha" name="inputFecha">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <select class="custom-select" id="inputReservacion" name="inputReservacion">
                            <option selected>Reservacion ?</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <select class="custom-select" id="inputBarra" name="inputBarra">
                            <option selected>Barra ?</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>


                    <select class="custom-select" id="inputNombreRest" name="inputNombreRest">
                        <option selected>Restaurante</option>
                        <option value="1">Piccola Stella</option>
                        <option value="2">Turin Anivo</option>
                        <option value="3">Notte di Fuoco</option>
                    </select>

                    <!--Para reservacion-->
                    <div class="input-group input-group-sm mb-3">
                        <select class="custom-select" id="inputSelectNomMesa" name="inputSelectNomMesa">
                            <option selected>Nombre de la Mesa</option>
                            <option value="1">Mesa 1</option>
                            <option value="2">Mesa 2</option>
                            <option value="3">Mesa 3</option>
                            <option value="4">Mesa 4</option>
                            <option value="5">Mesa 5</option>
                            <option value="6">Mesa 6</option>
                            <option value="7">Mesa 7</option>
                            <option value="8">Mesa 8</option>
                            <option value="9">Mesa 9</option>
                            <option value="10">Mesa 10</option>
                            <option value="11">Mesa 11</option>
                            <option value="12">Mesa 12</option>
                            <option value="13">Mesa 13</option>
                            <option value="14">Mesa 14</option>
                            <option value="15">Mesa 15</option>
                            <option value="16">Mesa 16</option>
                            <option value="17">Mesa 17</option>
                            <option value="18">Mesa 18</option>
                            <option value="19">Mesa 19</option>
                            <option value="20">Mesa 20</option>
                            <option value="21">Mesa 21</option>
                            <option value="22">Mesa 22</option>
                            <option value="23">Mesa 23</option>
                            <option value="24">Mesa 24</option>
                            <option value="25">Mesa 25</option>
                            <option value="26">Mesa 26</option>
                            <option value="27">Mesa 27</option>
                            <option value="28">Mesa 28</option>
                        </select>
                    </div>


                    <div id="botonesLogin" class="d-block">
                        <div class="d-flex">
                            <!--llamar get para regresar a la pagina de listado-->
                            <div class="col-md-4 mb-3">
                                <a href="/RestNotteDiFuoco">
                                    <button type="button" class="btn btn-primary">Notte di
                                        Fuoco</button>
                                </a>
                            </div>
                            <!--llamar get para regresar a la pagina de listado-->

                            <div class="col-md-4 mb-3">
                                <a href="/RestTurinAnivo">
                                    <button type="button" class="btn btn-primary">Turin Anivo</button>
                                </a>
                            </div>


                            <!--llamar get para regresar a la pagina de listado-->

                            <div class="col-md-4 mb-3">
                                <a href="/RestPiccolaStella">
                                    <button type="button" class="btn btn-primary">Piccola
                                        Stella</button>
                                </a>
                            </div>
                        </div>
                        <!--llamar funcion para limpiar textbox-->
                        <button id="btnLimpiarRegistroInputs" type="button" class="btn" onclick="limpiarInputs()"><img
                                style="width: 3rem; height: 3rem;" src="/images/escoba.svg" alt=""></button>

                        <!--llamar post para realizar el insert-->
                        <button id="btnConfirmarInsertBufet" type="button" class="btn"
                            onclick="llamadoInsertarFunction()"><img style="width: 3rem; height: 3rem;"
                                src="/images/confirmacion.svg" alt=""></button>
                    </div>

                </div>
            </div>
        </div>

        <!--Falta agregar la seccion de Comidas Buffet-->

    </form>

    <script>
        var btnInsertar = document.getElementById("btnConfirmarInsertBufet");




        function limpiarInputs() {
            document.getElementById("inputCedCliente").value = "";
            document.getElementById("inputNomCliente").value = "";
            document.getElementById("inputApClienteUno").value = "";
            document.getElementById("inputApClienteDos").value = "";
            document.getElementById("inputSelectNomMesa").value = "";
            document.getElementById("inputMontoPago").value = "";
            document.getElementById("inputDetalle").value = "";
            document.getElementById("inputFecha").value = "";
            document.getElementById("inputReservacion").value = "";
            document.getElementById("inputNombreRest").value = "";
            document.getElementById("inputBarra").value = "";


            alert("Cajas de Texto limpias.");
        }

        function llamadoInsertarFunction() {

            if (document.getElementById("inputCedCliente").value == "" || document.getElementById("inputNomCliente").value == ""
                || document.getElementById("inputApClienteUno").value == "" || document.getElementById("inputApClienteDos").value == ""
                || document.getElementById("inputSelectNomMesa").value == "" || document.getElementById("inputMontoPago").value == ""
                || document.getElementById("inputDetalle").value == "" || document.getElementById("inputFecha").value == ""
                || document.getElementById("inputReservacion").value == "" || document.getElementById("inputNombreRest").value == ""
                || document.getElementById("inputBarra").value == "") {
                alert("Debe llenar toda la informacion!!!");
            } else {
                alert("Realizo el post");
                btnInsertar.setAttribute("formaction", "../ClientesMesas/insertarCliente")
                btnInsertar.setAttribute("type", "submit");
            }
        }

    </script>

</body>

</html>