<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>

    <title>Ventana Principal</title>
</head>

<body class="container-fluid">
    <div class="container navbar-expand-xl d-flex">
        <a href="/ReporteDeAyudaDeSistema/mostrarInfoAyudaSistema">Ayuda Sistema</a>
        <a href="/ReporteAyudaDeSeguridad/mostrarInfoAyudaSeguridad">Ayuda Seguridad</a>
    </div>
    <div class="container navbar-expand-xl">
        <h1 class="text-center align-content-center">Bienvenido</h1>
    </div>

    <div id="contenedor" class="container border ">
        <div id="tituloInterno" class="espaciosDos">
            <h2 class="text-center align-content-center">Administracion Central de los Restaurantes</h2>
        </div>
        <div id="botonesInternos" class="displayGrid justify-content-center">
            <div id="filaIconos1" class=" align-content-center text-center d-sm-flex espaciosDos">
                <div class="displayGrid espacios">
                    <label for="">Seguridad</label>
                    <a href="/VentanaSeguridad">
                        <span style="font-size: 3em; color: black;">
                            <i class="fas fa-user-secret"></i>
                        </span>
                    </a>
                </div>
                <div class="displayGrid espacios">
                    <label for="">Restaurantes</label>
                    <a href="/ListaDeRestaurantes/listarRestaurantes">
                        <span style="font-size: 3em; color: black;">
                            <i class="fas fa-utensils"></i>
                        </span>
                    </a>
                </div>
                <div class="displayGrid espacios">
                    <label for="">Clientes</label>
                    <a href="/ListaClientes/listarAllClientes">
                        <span style="font-size: 3em; color: black;">
                            <i class="fas fa-users"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div id="filaIconos2" class=" align-content-center text-center d-sm-flex espaciosDos">
                <div class="displayGrid espacios">
                    <label for="">Proveedores</label>
                    <a href="">
                        <span style="font-size: 3em; color: black;">
                            <i class="fas fa-truck-moving"></i>
                        </span>
                    </a>
                </div>
                <div class="displayGrid espacios">
                    <label for="">Administracion</label>
                    <a href="/VentanaAdministracion">
                        <span style="font-size: 3em; color: black;">
                            <i class="fas fa-tools"></i>
                        </span>
                    </a>
                </div>
                <div class="displayGrid espacios">
                    <label for="">Reportes</label>
                    <a href="">
                        <span style="font-size: 3em; color: black;">
                            <i class="fas fa-file-alt"></i>
                        </span>
                    </a>
                </div>
            </div>

           
        </div>
    </div>




    </div>

</body>

</html>