<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/IngresoAlSistema.css">
    <script src="/javascripts/validacionesIngresoAlSistema.js"></script>
    <title>Login</title>
</head>

<body class="container-fluid">

    <div class="container navbar-expand-xl">
        <h1 class="text-center align-content-center">Bienvenido</h1>
    </div>
    <div class="container errorR" role="alert">
        <h1 class="text-center align-content-center">
            {{messages.errorRegistro}}
        </h1>
    </div>
    <div id="contenedorLogin" class="container border d-flex ">
        <div id="imagenLogin">
            <img style="width: 100%; height: 100%;" src="/images/login.svg" alt="">
        </div>
        <form method="post" action="/IngresoAlSistema/confirmarCredenciales"
            class="form-inline container displayGrid needs-validation" novalidate>
            <div class="d-flex">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="" class="">Usuario</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input id="inputLogin" type="text" class="form-control" name="inputUsuario"
                        placeholder="Digite su Usuario" required>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="" class="">Password</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input id="inputPassword" type="password" class="form-control" name="inputPassword2"
                        placeholder="Digite su Contraseña" required>
                </div>
            </div>

            <div id="botonesLogin" class="d-flex">
                <button id="btnLimpiar" onclick="limpiarInputs()" type="button" class="btn"><img
                        style="width: 3rem; height: 3rem;" src="/images/escoba.svg" alt=""></button>
                <button type="submit" class="btn"><img style="width: 3rem; height: 3rem;" src="/images/confirmacion.svg"
                        alt=""></button>
            </div>

        </form>
    </div>
    <script>
        function limpiarInputs() {
            document.getElementById("inputLogin").value = "";
            document.getElementById("inputPassword").value = "";
            alert("Cajas de texto limpias");
        }


    </script>

    <script src="/javascripts/errorEnLogin.js"></script>
    <script src="/javascripts/validaciones.js"></script>
</body>

</html>