<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaPaises.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Paises</title>
</head>

<body class="container-fluid">
     <div id="SeccionPrincipalPais" class="container d-flex border">
        <div id="LSectionPais" class="">
            <img class="LogoPais" src="/images/equipo.svg" alt="">
        </div>
        <div id="RSectionPais" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid headerSideSize d-flex border">
                    <div class="marginL">
                        <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaPaises/listarAllPaises">
                            <button class="marginIconos "><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/recargar.svg" alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos">
                            <img style="width: 2.5rem; height: 2.5rem;" src="/images/escoba.svg" alt=""></button>

                    </div>
                    <div class="marginL">
                        <a href="/VentanaSeguridad"><button class="marginIconos">
                                <img style="width: 2.5rem; height: 2.5rem;" src="/images/error.svg" alt=""></button>
                        </a>
                        <a href="/RegistroNacion">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/mas.svg" alt=""></button>
                        </a>
                    </div>
                </div>
                <div id="littleForm">
                    <form id="frmPaises" method="post" action="/ListaPaises/filtrarLista"
                        class="form-inline container displayGrid headerMidleSize">
                        <div class="d-flex headerMidleSize">
                            <div class="marginIconos">

                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" id="inputCodPais" name="inputCodPais"
                                        placeholder="Codigo del Pais">
                                </div>
                            </div>
                            <div class="marginIconos">
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" id="inputNomPais" name="inputNomPais"
                                        placeholder="Nombre del Pais">
                                </div>
                            </div>
                            <div class="displayGrid">
                                <!--llama al post para realizar busqueda-->
                                <button id="btnRealizarBusqueda" type="submit" class="marginIconos"><img
                                        style="width: 2.5rem; height: 2.5rem;" src="/images/confirmacion.svg"
                                        alt=""></button>
                                <!--Cargar post para eliminar registro de buffet-->
                                <button id="btnEliminar" name="btnEliminar" type="button"
                                    onclick="llamadoEliminarFunction()" class="marginIconos"><img
                                        style="width: 2.5rem; height: 2.5rem;" src="/images/menos.svg" alt=""></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="bodyListSection" class="overflow-auto">
                <div id="listViewPais" class="border">
                    <div id="mostrarContenidoPais" class="overflow-auto">
                        <table class="table table-hover" style="width:100%; height:auto;">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Consecutivo</th>
                                    <th>Pais</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each recordset}}
                                <tr>
                                    <td>{{codigo}} </td>
                                    <td>P-{{consecutivo}}</td>
                                    <td>{{nombre}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <h1 style="text-align: center; color: red;">{{mensaje}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var formulario = document.getElementById("frmPaises");
        var btnEliminar = document.getElementById("btnEliminar");

        function limpiarInputs() {
            document.getElementById("inputCodPais").value = "";
            document.getElementById("inputNomPais").value = "";
            alert("Cajas de Texto limpias.");
        }

        function llamadoEliminarFunction() {
            if (document.getElementById("inputCodPais").value == ""
                || document.getElementById("inputNomPais").value == "") {
                alert("Debe llenar toda la informacion!!!");
            } else {
                btnEliminar.setAttribute("formaction", "../ListaPaises/eliminarPaises")
                btnEliminar.setAttribute("type", "submit");

            }
        }


    </script>
</body>

</html>