<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaConsecutivos.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Consecutivos</title>
</head>

<body class="container-fluid">


    <div id="SeccionPrincipalConsecutivo" class="container d-flex border">
        <div id="LSectionConsecutivo" class="">
            <img class="LogoConsecutivo" src="/images/ajustes2.svg" alt="">
        </div>
        <div id="RSectionConsecutivo" class="border">
            <div id="headerListSection" class="d-flex border">
                <div class="displayGrid headerSideSize">
                       <!--llama al get para recargar la informacion de la tabla-->
                        <a href="/ListaEspeciales/listarAllEspeciales"> 
                        <button class="marginIconos "><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/recargar.svg" alt=""></button></a>
                        <!--boton que llama a la funcion limpiar-->
                        <button id="btnLimpiar" onclick="limpiarInputs()" class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/escoba.svg" alt=""></button>
                    </div>
                    <div class="marginL">
                       <a href="/Especialidades"><button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/error.svg" alt=""></button>
                    </a>
                          <a href="/RegistroEpeciales">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/mas.svg" alt=""></button>
                        </a>
                    </div>
                </div>
                <div id="littleForm">
                    <form class="form-inline container displayGrid headerMidleSize">
                        <div class="d-flex headerMidleSize">
                            <div class="marginIconos">
                               
                                <div class="form-group  ">
                                    <input type="text" class="form-control" id="inputCodConsecutivo"
                                        placeholder="Codigo del Consecutivo">
                                </div>
                            </div>
                            <div class="marginIconos">
                                <div class="form-group  ">
                                    <input type="text" class="form-control" id="inputDescripcionConsecutivo"
                                        placeholder="Descripcion del Consecutivo">
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="displayGrid ">
                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;" src="/images/mas.svg"
                            alt=""></button>
                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;" src="/images/menos.svg"
                            alt=""></button>
                </div>
            </div>
            <div id="bodyListSection">


                <div class="row">
                    <div class="col">Codígo</div>
                    <div class="col">Tipo</div>
                    <div class="col">Descripcion</div>
                    <div class="col">Valor del Consecutivo</div>
                    <div class="col">Contiene Prefijo</div>

                </div>
                <div id="listViewConsecutivo" class="border">
                    <div id="mostrarContenidoConsecutivo"></div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>