<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ListaMesas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Lista de Mesas</title>
</head>

<body>
    <div id="SeccionPrincipalMesas" class="container d-flex border">
        <div id="LSectionMesas" class="">
            <img class="LogoMesas" src="/images/comedor.svg" alt="">
        </div>
        <div id="RSectionMesas" class="border">
            <div id="headerListSection" class="d-block border">
                <div id="littleForm">
                    <form class="form-inline container displayGrid ">
                        <div class="d-flex MAXWandH">
                            <div class="displayGrid ">
                                <div class="marginIconos">

                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" id="inputCodMesa"
                                            placeholder="Codigo de la Mesa">
                                    </div>
                                </div>
                                <div class="marginIconos">

                                    <div class="input-group input-group-sm mb-3  ">
                                        <input type="text" class="form-control" id="inputNomMesa"
                                            placeholder="Nombre de la Mesa">
                                    </div>
                                </div>

                            </div>
                            <div class="displayGrid headerEspacios">
                                <div class="marginIconos">

                                    <div class="input-group input-group-sm mb-3  ">
                                        <input type="text" class="form-control" id="inputRest"
                                            placeholder="Restaurante">
                                    </div>
                                </div>
                                <div class="marginIconos">

                                    <div class="input-group input-group-sm mb-3  ">
                                        <input type="text" class="form-control" id="inputCantSillasMesa"
                                            placeholder="Cantidad Sillas">
                                    </div>
                                </div>


                            </div>

                            <div class="d-flex headerEspacios">
                                <div class="displayGrid ">
                                    <button class="marginIconos "><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/recargar.svg" alt=""></button>
                                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/escoba.svg" alt=""></button>
                                </div>
                                <div class="displayGrid headerEspacios">
                                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/mas.svg" alt=""></button>
                                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/menos.svg" alt=""></button>

                                </div>
                                <div class=" displayGrid headerEspacios">
                                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/error.svg" alt=""></button>
                                    <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                            src="/images/confirmacion.svg" alt=""></button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div id="bodyListSection">


                <div class="row">
                    <div class="col">Codígo</div>
                    <div class="col">Nombre</div>
                    <div class="col">Número</div>
                    <div class="col">Cantidad de Sillas</div>
                    <div class="col">Restaurante</div>


                </div>
                <div id="listViewMesas" class="border">
                    <div id="mostrarContenidoMesas"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>