<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/RegistroProveedores.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Registro Clientes en Barra</title>
</head>

<body>


    <div id="SeccionPrincipalLR" class="container d-flex border">
        <div id="LSectionListaComidaBufet" class="">
            <img class="LogoCEB" src="/images/proveedores.svg" alt="">
        </div>
        <div id="RSectionListaComidaBufet" class="border d-flex">
            <div id="mitadUno" class="d-block">
                <div id="datosCliente" class="">
                    <div>
                    <div class="tamanoMitad">
                        <div class="input-group input-group-sm mb-3">
                            <label>Información del Proveedor</label>
                        </div>
                        <div class="col-md-8 mb-3">
                            <input id="inputCod" type="text" class="form-control" placeholder="Código">
                            
                        </div>
                       
                        <div class="col-md-8  mb-3">
                            <input id="inputCédula" type="text" class="form-control" placeholder="Cédula de Identidad">
                        </div>
                        <div class="col-md-8  mb-3">
                            <input id="inputFecha" type="text" class="form-control" placeholder="Fecha de Ingreso">
                        </div>
                        <div class="col-md-8  mb-3">
                            <input id="inputNombre" type="text" class="form-control" placeholder="Nombre del Proveedor">
                        </div>
                        <div class="col-md-8  mb-3">
                            <input id="inputPrimerA" type="text" class="form-control" placeholder="Primer Apellido">
                        </div>
                        <div class="col-md-8  mb-3">
                            <input id="inputSegundoA" type="text" class="form-control" placeholder="Segundo Apellido">
                        </div>
                        <div class="col-md-8  mb-3">
                            <input id="inputCorreo" type="text" class="form-control" placeholder="Correo electrónico">
                        </div>
                        <div class="col-md-8  mb-3">
                            <textarea id="inputDirección" class="form-control" placeholder="Dirección"
                                aria-label="With textarea"></textarea>
                        </div>
                        <div id="menuinferior" class="d-flex">
                            <label for=""> Telefonos</label>
                            
                                <input id="inputCorreo" type="text" class="form-control" placeholder="Oficina">
                                <input id="inputCorreo" type="text" class="form-control" placeholder="Fax">
                                <input id="inputCorreo" type="text" class="form-control" placeholder="Celular">
                            
                        </div>
                        <div id="botonesLogin" class="d-flex">
                            <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                        src="/images/escoba.svg" alt=""></button></div>
                            <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                        src="/images/confirmacion.svg" alt=""></button></div>
                            <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                        src="/images/error.svg" alt=""></button></div>
                            <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                        src="/images/Lupa.svg" alt=""></button></div>
                        </div>
                    </div>
                </div>
                   
                </div>
             
            </div>
            <div id="mitadDos" class="d-block border-right">
                <div id="fechasCliente" class="tamanoFyF">
                    <div id="BmenuDos" class="" style="width: 120%; height: 180%;">
                        <div class="displayGrid MAXWandH">
                            <label>Foto del Proveedor</label>
                            <div class="MAXWandH" >
                                <input type="text" class="MAXWandH" placeholder="">
                            </div>
                            
                        </div>
                        
                    </div>
                   
                </div>
              
               
            </div>
            
            <div id="mitadTres" class="d-block">
                <label for="">Pase de productos</label>
                <div id="fechasCliente" class="tamanoFyF">
                    <div id="Bmenutres" class="col-md-12 mb-3">
                        <div class="displayGrid MAXWandH">
                            <label>Productos del Restaurante</label>
                            <div class="MAXWandH" >
                                <input type="text" class="MAXWandH" placeholder="">
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div id="datosFinales" class="">
                        <div>
                        <div class="tamanoMitad d-block border-top">
                            <div class="input-group input-group-sm mb-3 d-block border-top">
                                <label>Información del Contacto</label>
                            </div>
                            <div class="col-md-20  mb-3">
                                <input id="inputNombre" type="text" class="form-control" placeholder="Nombre del Contactos">
                            </div>
                            <div class="col-md-8  mb-3">
                                <input id="inputTelf" type="text" class="form-control" placeholder="Telefono">
                            </div> 
                            <div class="col-md-8  mb-3">
                                <textarea id="inputDirección" class="form-control" placeholder="Dirección"
                                    aria-label="With textarea"></textarea>
                            </div>
                           </div>
                        </div> 
                    </div>
                </div>
              
               
            </div>
            <div id="mitadTres" class="d-block ">
               
                <div id="fechasCliente" class="tamanoByB">
                    <div id="Bmenutres" class="col-md-8 ">
                        <div class="displayGrid MAXWandH">
                            <label> </label>
                            <div class="MAXWandH" id="botones">
                                <div><button type="button" class="btn" style="width: 6rem; height: 9rem;"><img 
                                    src="/images/flechaderecha.svg" class="img-fluid" alt="Responsive image"></button></div>
                                    <div><button type="button" class="btn" style="width: 6rem; height: 9rem;"><img 
                                        src="/images/flechaizquierda.svg" class="img-fluid" alt="Responsive image"></button></div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                   
                </div>
              
               
            </div>
            <div id="mitadTres" class="d-block">
                <label for=""> </label>
                <div id="fechasCliente" class="tamanoFyF">
                    <div id="Bmenutres" class="col-md-12 mb-3">
                        <div class="displayGrid MAXWandH">
                            <label>Productos Manejados por el Proveedor</label>
                            <div class="MAXWandH" >
                                <input type="text" class="MAXWandH" placeholder="">
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
              
               
            </div>
        </div>
        </div>
        
    </div>
   

</body>

</html>