<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/RegistroMesas.css">
    <title>Registro de Mesas</title>
</head>

<body>
    <div class="container navbar-expand-xl">
        <h1 class="text-center align-content-center">Registro de Mesas</h1>
    </div>
    <div class="d-flex MAXWandH">
        <div id="contenedorLogin" class="container border d-flex ">
            <div id="imagenLogo">
                <img style="width: 80%; height: 60%;" src="/images/comedor.svg" alt="">
            </div>
            <div id="contenedorForm" class=" d-flex">
                <form class="form-inline d-flex">
                    <div id="BmenuUno" class="container border">
                        <div class="displayGrid ">
                            <div class="">
                                <label>Información de las Mesa</label>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input id="inputCodMesa" type="text" class="form-control" placeholder="Código">
                            </div>
                            <div class="col-md-4 mb-3">
                                <input id="inputNombreMesa" type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col-md-4 mb-3">
                                <input id="inputNumMesa" type="text" class="form-control" placeholder="Numero">
                            </div>
                            <div class="col-md-4 mb-3">
                                <input id="inputCanSillas" type="text" class="form-control"
                                    placeholder="Cantidad Sillas">
                            </div>
                            <div class="col-md-4 mb-3">
                                <select class="custom-select" id="inputSelectMarca">
                                    <option selected>Nombre del Restaurante</option>
                                    <option value="1">ejemplo</option>
                                    <option value="2">ejemplo 2</option>
                                    <option value="3">ejemplo 3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="botonesLogin" class="d-flex">
                        <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                    src="/images/escoba.svg" alt=""></button></div>
                        <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                    src="/images/confirmacion.svg" alt=""></button></div>
                        <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                    src="/images/error.svg" alt=""></button></div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>
</body>

</html>