<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/RegistroEmpleados.css">
    <title>RegistroEmpleados</title>
</head>

<body>
    <div class="container navbar-expand-xl">
        <h1 class="text-center align-content-center">Empleados</h1>
    </div>
    <div >
        <div id="contenedorLogin" class="container border d-flex ">
            <div id="imagenLogo">
                <img style="width: 80%; height: 60%;" src="/images/empleado (2).svg" alt="">
            </div>
            <form class="form-inline d-flex   height: 70%;">
                <div id="BmenuUno" class="container border">
                    <div class="displayGrid ">
                        <div class="">
                            <label class="smd-8 mb-4">Información del Personal</label>
                        </div>
                        <div class="col-md-8 mb-3">
                            
                            <label class="align-content-center ">Código <input id="inputCodEmpleado" type="text" class="form-control " placeholder="Código"> </label>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="align-content-center ">Cedula<input id="inputCedulaEmpleado" type="text" class="form-control" placeholder="Cédula"> </label>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="align-content-center ">Nombre<input id="inputNombreEmpleado" type="text" class="form-control" placeholder="Nombre"> </label>
                        </div>
                        <div class="col-md-8 mb-3">
                            
                            <label class="align-content-center ">Primer Apellido <input id="inputApellidounoEmpleado" type="text" class="form-control " placeholder="Primer Apellido"> </label>
                        </div>
                        <div class="col-md-8 mb-3">
                            
                            <label class="align-content-center ">Segundo Apellido <input id="inputApellidodosEmpleado" type="text" class="form-control " placeholder="Segundo Apellido"> </label>
                        </div>
                        <div class="col-md-8 mb-3">
                            
                            <label class="align-content-center ">Teléfono 1<input id="inputTeléfono1Empleado" type="text" class="form-control " placeholder="Teléfono 1"> </label>
                        </div>
                        <div class="col-md-8 mb-3">
                            
                            <label class="align-content-center ">Teléfono 2 <input id="inputTeléfono2Empleado" type="text" class="form-control " placeholder="Teléfono 2"> </label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="align-content-center ">Puesto <select class="custom-select" id="inputSelectPuesto">
                                <option selected>Puesto</option>
                                <option value="1">ejemplo</option>
                                <option value="2">ejemplo 2</option>
                                <option value="3">ejemplo 3</option>
                            </select> </label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="align-content-center ">Nacion<select class="custom-select" id="inputSelectNacionalidad">
                                <option selected>Nacionalidad</option>
                                <option value="1">ejemplo</option>
                                <option value="2">ejemplo 2</option>
                                <option value="3">ejemplo 3</option>
                            </select> </label>
                        </div>  
                    </div>
                </div>
                <div id="BmenuDos">
                    <label>Foto del Empleado</label>
                    <div class="displayGrid MAXWandH">
                        <div class="MAXWandH">
                            <input type="text" class="MAXWandH" placeholder="">
                        </div>
                    </div>
                    <label class="align-content-center ">Restaurante<select class="custom-select" id="inputSelectRestaurante">
                        <option selected>Restaurante</option>
                        <option value="1">ejemplo</option>
                        <option value="2">ejemplo 2</option>
                        <option value="3">ejemplo 3</option>
                    </select> </label>
                </div>
                <div id="botonesLogin" class="d-flex">
                    <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                src="/images/escoba.svg" alt=""></button></div>
                    <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                src="/images/confirmacion.svg" alt=""></button></div>
                    <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                src="/images/error.svg" alt=""></button></div>
                    <div><button type="button" class="btn"><img style="width: 3rem; height: 3rem;"
                                src="/images/Lupa.svg" alt=""></button></div>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>