<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/ReporteAyudaDeSeguridad.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Reporte Ayuda de Seguridad</title>
</head>

<body>
    <div class="container navbar-expand-xl">
        <h1 class="text-left align-content-center">Reporte Ayuda de Seguridad</h1>
    </div>
    <div id="contenedorReporteAyudaSeguridad" class="container border d-flex border border-dark">
        <div id="imagenSeguridad">
            <div class="text-left align-content-center" >
                <span style="font-size: 3em; color: black;" >
                    <img src="/images/ayudaseguridad.svg" class="img-fluid col pt-md-5" alt="Responsive image" srcset="">
                </span>
            </div>
        </div>
        <div id="contenedorReporteAyudaSeguridadSuperior" class= "text-left align-content-center">
            <a href="#" class="close btn btn-danger text-right" data-dismiss="panel" aria-label="close" >&times;</a></th>
            <h4 class="text-left align-content-left">Reporte Ayuda para el Módulo de Seguridad</h4>
            <div id="contenedorReporteAyudaSeguridadInterno" class="overflow-auto border border-white" >
                <p>{{mensajeDos}}</p>
            </div>
               <div id="botonesLogin" class="d-flex " >
                            <button class="h-75 d-inline-block w-25 p-3">
                            <a href="/ReporteDeAyudaDeSistema//mostrarInfoAyudaSistema"><img src="/images/flechaderecha.svg" class="img-fluid  " style="width: 100%; height: 80%;" alt="Responsive image">
                            </a></button>
                            <button class="h-75 d-inline-block w-25 p-3 ">
                           <a href="/Funcionalidades"><img src="/images/cerrar.svg"class="img-fluid " 
                            style="width: 100%; height: 80%;" alt="Responsive image" srcset="">
                            </a></button>  
                            <!--<button class="h-75 d-inline-block w-25 p-3 "><img src="/images/configimpresora.png"class="img-fluid " style="width: 100%; height: 80%;" alt="Responsive image" srcset="">
                            </button>
                            <button class="h-75 d-inline-block w-25 p-3"><img src="/images/impresora.svg" class="img-fluid  " style="width: 100%; height: 80%;" alt="Responsive image">
                            </button>-->
                </div>
        </div>
        
    </div>
    
</body>

</html>