<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/RestGeneral.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>

    <title>Restaurante Turin Anivo</title>
</head>

<body>
    <div id="navResOne" class="border">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Sistema</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ayuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Procesos</a>
            </li>
        </ul>
    </div>
    <div id="seccionCentral" class="d-flex">
        <div id="barraLateralIzquierda" class=" border">
            <ul class="nav flex-column">
                <li class="nav-item">

                    <a class="nav-link active" href="">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/tabla.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/reservado.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/empleado.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/desayuno.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">
                        <span style="font-size: 1em; color: black;">
                            <button type="button" class="btn-primary">Salir del Menú</button>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="cuerpoPrincipal" class="displayGrid">
            <div id="arriba" class="d-flex">

                <div class="">
                    <button><img style="width: 25%; height: 2rem;" src="/images/finalizar-la-sesion.svg"
                            alt=""></button>
                </div>
                <div class="">
                    <button><img style="width: 25%; height: 2rem;" src="/images/banos.svg" alt=""></button>
                </div>
                <div class="">
                    <button><img style="width: 25%; height: 2rem;" src="/images/banos.svg" alt=""></button>
                </div>

                <div id="estadoDeLaBarra" style="width: 25%;" class="displayGrid border">
                    <label>Estado de la Barra: </label>
                    <div>
                        <input type="radio" value="">
                        <label for="">Barra Abierta</label>

                        <input type="radio" value="">
                        <label for="">Barra Cerrada</label>
                    </div>
                </div>

            </div>
            <div id="mesas" class="container align-content-center d-flex">
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 1<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 2<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 3<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                </div>
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 7<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 6<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 5<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                </div>
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 8<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 9<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 10<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 4<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                </div>
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 14<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 13<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 12<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 11<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                </div>
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 15<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 16<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 17<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>

                </div>
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 21<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 20<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 19<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 18<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                </div>
                <div class="">
                    <a href="/ClientesMesas">
                        <button>Mesa 22<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas">
                        <button>Mesa 23<img style="width: 5rem; height: 5rem;" src="/images/cena.svg" alt=""></button>
                    </a>

                </div>

            </div>

            <div id="abajo">
                <div id="estadoDeLaBarra2">
                    <label>Estado de la Barra: </label>
                    <div>
                        <input type="radio" value="">
                        <label for="">Barra Abierta</label>

                        <input type="radio" value="">
                        <label for="">Barra Cerrada</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="barraLateralDerecha" class="border displayGrid text-center ">
            <div id="lateralUno">

            </div>
            <div id="puertaSalida">
                <button><img src="/images/puerta.svg" style="width: 100%; height: 10%;" alt=""></button>
            </div>
            <div id="cocina">
                <button><img src="/images/cocina.svg" style="width: 100%; height: 10%;" alt=""></button>
            </div>
        </div>
    </div>


    <div id="footer" class="">
        <ul class="nav">
            <li class="nav-item">
                <label for="">Usuario: </label>
            </li>
            <li class="nav-item">
                <label for="">Restaurante: Turin Anivo</label>
            </li>
            <li class="nav-item">
                <label for="">Hora</label>
            </li>
            <li class="nav-item">
                <label for="">Fecha</label>
            </li>
            <li class="nav-item"><button><img src="/images/telefono.svg" style="width: 1rem; height: 1rem;"
                        alt=""></button></li>
        </ul>
    </div>






</body>

</html>