<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/RestGeneral.css">
    <link rel="stylesheet" href="/stylesheets/RestNotteDiFuoco.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>

    <title>Restaurante Notte Di Fuoco</title>
</head>

<body class="container-fluid">
    <div id="navResOne" class="border">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Funcionalidades">Sistema</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ReporteDeLicoresNotte/mostrarInfoReporteLicores">Ayuda</a>
            </li>
        </ul>
    </div>
    <div id="seccionCentral" class="d-flex">
        <div id="barraLateralIzquierda" class="container-fluid">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active" href="/ReporteEntornoDeRestauranteMesasNotte/listarAllMesasEstado">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/tabla.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ReporteEntornoDeRestauranteReservacionesNotte/listarAllReservacionesEstado">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/reservado.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ReporteEntornoDeRestauranteBarraMesasNotte/listarAllBarraMesasEstado">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/empleado.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ReporteEntornoDeRestauranteEspecialidadesNotte/listarAllEspecialidadesEstado">
                        <span style="font-size: 3em; color: black;">
                            <img src="/images/desayuno.svg" alt="" srcset="">
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/CierreCajaNotteRest">
                        <span style="font-size: 1em; color: black;">
                            <button type="button" class="btn-primary">Salir del Menú</button>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="cuerpoPrincipal" class="container-fluid displayGrid">
            <div id="arriba" class="d-flex">

                <div class="">
                    <button><img style="width: 25%; height: 2rem;" src="/images/finalizar-la-sesion.svg"
                            alt=""></button>
                </div>
                <div class="">
                    <button><img style="width: 25%; height: 2rem;" src="/images/banos.svg" alt=""></button>
                </div>
                <div class="">
                    <button><img style="width: 25%; height: 2rem;" src="/images/banos.svg" alt=""></button>
                </div>


            </div>
            <div id="mesas" class="container align-content-center d-flex">
                <div class="">
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 1<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 2<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 3<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 4<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 5<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                </div>
                <div class="">
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 10<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 9<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 8<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 7<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 6<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>

                    </a>
                </div>
                <div id="zonaBarra" class="container">
                    <div id="mesasSuperiores" class="d-flex">
                        <a href="/ClientesMesas/listarInfoDropMenus">
                            <button>Mesa 11<img style="width: 4rem; height: 4rem;" src="/images/cena.svg"
                                    alt=""></button>

                        </a>
                        <a href="/ClientesMesas/listarInfoDropMenus">
                            <button>Mesa 14<img style="width: 4rem; height: 4rem;" src="/images/cena.svg"
                                    alt=""></button>

                        </a>
                    </div>
                    <div>
                        <div id="estadoDeLaBarra" class="container-fluid displayGrid border">
                            <label>Manejo de la Barra: </label>
                            <div>
                                <input id="inputInternoAlRestaurante" name="inputInternoExterno" type="radio" value="">
                                <label for="">Barra Abierta</label>

                                <input id="inputExternoAlRestaurante" name="inputInternoExterno" type="radio" value="">
                                <label for="">Barra Cerrada</label>

                            </div>
                        </div>
                        <button id="adentro" name="adentro" disabled="true"
                            onclick="window.location.href='/ListaClientesBarras/listarAllClientes'">Barra<img
                                style="width: 10rem; height: 10rem;" src="/images/cuadrados.svg" alt=""></button>

                    </div>
                    <div id="mesasInferiores" class="d-flex">
                        <a href="/ClientesMesas/listarInfoDropMenus">
                            <button>Mesa 12<img style="width: 4rem; height: 4rem;" src="/images/cena.svg"
                                    alt=""></button>
                        </a>
                        <a href="/ClientesMesas/listarInfoDropMenus">
                            <button>Mesa 13<img style="width: 4rem; height: 4rem;" src="/images/cena.svg"
                                    alt=""></button>
                        </a>


                    </div>

                </div>
                <div class="">
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 15<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 16<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 17<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 18<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 19<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>


                </div>
                <div class="">
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 24<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 23<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 22<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 21<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 20<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>

                </div>

            </div>

        </div>
        <div id="barraLateralDerecha" class="border displayGrid text-center ">
            <div id="lateralUnoMesas">
                <div class="">
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 25<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 26<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                </div>
            </div>
            <div id="puertaSalida">
               <a href="/CierreCajaNotteRest"> <button><img src="/images/puerta.svg" style="width: 100%; height: 10%;" alt=""></button>
            </div> </a>
            <div id="lateralDosMesas">
                <div class="">
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 27<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>
                    <a href="/ClientesMesas/listarInfoDropMenus">
                        <button>Mesa 28<img style="width: 4rem; height: 4rem;" src="/images/cena.svg" alt=""></button>
                    </a>

                </div>
            </div>
            <div id="cocina">
                <button><img src="/images/cocina.svg" style="width: 100%; height: 10%;" alt=""></button>
            </div>
        </div>
    </div>


    <div id="footer" class="">
        <ul class="nav">
            <li class="nav-item">
                <label for="">Usuario: </label>
            </li>
            <li class="nav-item">
                <label for="">Restaurante: Notte Di Fuoco</label>
            </li>
            <li class="nav-item">
                <label for="">Hora</label>
            </li>
            <li class="nav-item">
                <label for="">Fecha</label>
            </li>
            <li class="nav-item"><button><img src="/images/telefono.svg" style="width: 1rem; height: 1rem;"
                        alt=""></button></li>
        </ul>
    </div>




    <script>

        var dentro = document.getElementById("inputInternoAlRestaurante");
        var fuera = document.getElementById("inputExternoAlRestaurante");

        dentro.addEventListener('click', () => {
            alert("Se habilito la barra!!!");
            document.getElementById("adentro").disabled = false;
        });

        fuera.addEventListener('click', () => {
            alert("Se cerro la barra!!!");
            document.getElementById("adentro").disabled = true;
        });
    </script>

</body>

</html>