<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/TiposDeBebidas.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Tipos de Bebidas</title>
</head>

<body>
    <div id="contenedorGTitulo" class="container d-flex">
        <h1>Tipos de Bebidas</h1>
    </div>
    <div id="contenedorGuno" class="container">

        <div id="SeccionPrincipalLR" class="container d-flex border">

            <div id="LSectionEspecialidades" class="">
                <img class="LogoEspecialidades" src="/images/TiposBebidas.svg" alt="">
            </div>
            <div id="RSectionEsoecialidades" class="border">

                <div id="headerESPRsection" class="d-flex border">
                    <h5>Opciones:</h5>

                    <div id="littleForm" class="">
                        <form class="form-inline container displayGrid headerMidleSize">
                            <div class="d-flex headerMidleSize">
                                <div class="d-block">
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputCalientes" name="rdbuttom">
                                            <label for="" class="">Calientes</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputHeladas" name="rdbuttom">
                                            <label for="" class="">Heladas</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputVinos" name="rdbuttom">
                                            <label for="" class="">Vinos</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block marginL">
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputGaseosas" name="rdbuttom">
                                            <label for="" class="">Gaseosas</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputLicores" name="rdbuttom">
                                            <label for="" class="">Licores</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="displayGrid ">
                        <a id="siguienteventana" href="">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/confirmacion.svg" alt=""></button>
                        </a>
                        <a href="/Especialidades">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/error.svg" alt=""></button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var radioCalientes = document.getElementById("inputCalientes");
        var radioHeladas = document.getElementById("inputHeladas");
        var radioVinos = document.getElementById("inputVinos");
        var radioGaseosas = document.getElementById("inputGaseosas");
        var radioLicores = document.getElementById("inputLicores");


        radioCalientes.addEventListener('click', () => {
            alert("Calientes");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaBebidasCalientes/listarAllBebidasCalientes");

        });

        radioHeladas.addEventListener('click', () => {
            alert("Heladas");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaBebidasHeladas/listarAllBebidasHeladas");

        });

        radioVinos.addEventListener('click', () => {
            alert("Vinos");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaVinos/listarAllVinos");

        });

        radioGaseosas.addEventListener('click', () => {
            alert("Gaseosas");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaBebidasGaseosas/listarAllBebidasGaseosas");

        });

        radioLicores.addEventListener('click', () => {
            alert("Licores");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaLicores/listarAllLicores");

        });

    </script>
</body>