<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/VentanaProveedores.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Ventana de Proveedores</title>
</head>

<body>
    <div id="contenedorGTitulo" class="container d-flex">
        <h1>Ventana de Proveedores</h1>
    </div>
    <div id="contenedorGuno" class="container">

        <div id="SeccionPrincipalLR" class="container d-flex border">

            <div id="LSectionVP" class="">
                <img class="LogoVP" src="/images/camion.svg" alt="">
            </div>
            <div id="RSectionVP" class="border">

                <div id="headerVARsection" class="d-flex border">
                    <h5>Opciones:</h5>

                    <div id="littleForm" class="">
                        <form class="form-inline container displayGrid headerMidleSize">
                            <div class="d-flex headerMidleSize">
                                <div class="d-block">
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputMarcas" name="rdbuttom">
                                            <label for="" class="">Marcas</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputProductos" name="rdbuttom">
                                            <label for="" class="">Productos</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block marginL">
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputProveedores" name="rdbuttom">
                                            <label for="" class="">Proveedores</label>
                                        </div>
                                    </div>

                                </div>




                            </div>
                        </form>
                    </div>
                    <div class="displayGrid ">
                        <a id="siguienteventana" href="">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/confirmacion.svg" alt=""></button>
                        </a>
                        <a href="/Funcionalidades">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/error.svg" alt=""></button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        var radioMarcas = document.getElementById("inputMarcas");
        var radioProductos = document.getElementById("inputProductos");
        var radioProveedores = document.getElementById("inputProveedores");


        radioMarcas.addEventListener('click', () => {
            alert("Marcas");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaMarcas/listarAllMarcas");

        });

        radioProductos.addEventListener('click', () => {
            alert("Productos");
            document.getElementById("siguienteventana").setAttribute("href", "/VentanaProductos");

        });

        radioProveedores.addEventListener('click', () => {
            alert("Proveedores");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaProveedores/listarAllProveedores");

        });



    </script>

</body>

</html>