<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/VentanaProductos.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Catalogo de Productos</title>
</head>

<body>
    <div id="contenedorGTitulo" class="container d-flex">
        <h1>Catalogo de Productos</h1>
    </div>
    <div id="contenedorGuno" class="container">

        <div id="SeccionPrincipalLR" class="container d-flex border">

            <div id="LSectionVP" class="">
                <img class="LogoVP" src="/images/escritura.svg" alt="">
            </div>
            <div id="RSectionVP" class="border">

                <div id="headerVPsection" class="d-flex border">
                    <h5>Opciones:</h5>

                    <div id="littleForm" class="">
                        <form class="form-inline container displayGrid headerMidleSize">
                            <div class="d-flex headerMidleSize">
                                <div class="d-block">
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputComestibles" name="rdbuttom">
                                            <label for="" class="">Comestibles</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputDesechablesEmpaques" name="rdbuttom">
                                            <label for="" class="">Desechables y Empaques</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputLimpiezaHigiene" name="rdbuttom">
                                            <label for="" class="">Limpieza e Higiene</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block marginL">

                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputTecnologia" name="rdbuttom">
                                            <label for="" class="">Tecnologia</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputEquipos" name="rdbuttom">
                                            <label for="" class="">Equipos</label>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </form>
                    </div>
                    <div class="displayGrid ">
                        <a id="siguienteventana" href="">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/confirmacion.svg" alt=""></button>
                        </a>
                        <a href="/VentanaProveedores">
                            <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                    src="/images/error.svg" alt=""></button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        var radioComestibles = document.getElementById("inputComestibles");
        var radioDesyEmp = document.getElementById("inputDesechablesEmpaques");
        var radioLimeHig = document.getElementById("inputLimpiezaHigiene");
        var radioTecnologia = document.getElementById("inputTecnologia");
        var radioEquipos = document.getElementById("inputEquipos");


        radioComestibles.addEventListener('click', () => {
            alert("Comestibles");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaComestibles/listarAllComestibles");

        });

        radioDesyEmp.addEventListener('click', () => {
            alert("Desechables y Empaques");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaDesechablesEmpaques/listarAllDesechablesEmpaques");

        });

        radioLimeHig.addEventListener('click', () => {
            alert("Limpieza e Higiene");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaLimpiezaeHigiene/listarAllLimpHigiene");

        });

        radioTecnologia.addEventListener('click', () => {
            alert("Tecnologia");
            //document.getElementById("siguienteventana").setAttribute("href", "/ListaMesas/listarAllMesas");

        });

        radioEquipos.addEventListener('click', () => {
            alert("Equipos");
            //document.getElementById("siguienteventana").setAttribute("href", "/ListaMesas/listarAllMesas");

        });



    </script>

</body>

</html>