<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/VentanaSeguridad.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1a7b3b1445.js" crossorigin="anonymous"></script>
    <title>Ventana de Seguridad</title>
</head>

<body class="container-fluid">
    <div id="contenedorGTitulo" class="container d-flex">
        <h1>Ventana de Seguridad</h1>
    </div>
    <div id="contenedorGuno" class="container">

        <div id="SeccionPrincipalLR" class="container-fluid d-flex border">

            <div id="LSectionVS" class="">
                <img class="LogoVS" src="/images/escudo.svg" alt="">
            </div>
            <div id="RSectionVS" class="border">

                <div id="headerVSRsection" class="d-flex border">
                    <h5>Opciones:</h5>

                    <div id="littleForm" class="">
                        <form class="form-inline container displayGrid headerMidleSize">
                            <div class="d-flex headerMidleSize">
                                <div class="d-block">
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputUsuarios" name="rdbuttom">
                                            <label for="" class="">Usuarios</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputConsecutivos" name="rdbuttom">
                                            <label for="" class="">Consecutivos</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputPaises" name="rdbuttom">
                                            <label for="" class="">Paises</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block marginL">
                                    
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputCajas" name="rdbuttom">
                                            <label for="" class="">Cajas</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputRolesEventos" name="rdbuttom">
                                            <label for="" class="">Roles o Eventos</label>
                                        </div>
                                    </div>
                                    <div class="marginIconos">
                                        <div class="form-group  ">
                                            <input type="radio" id="inputUnidadesMedida" name="rdbuttom">
                                            <label for="" class="">Unidades de Medida</label>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </form>
                    </div>
                    <div class="displayGrid ">
                        <a id="siguienteventana" href="">
                        <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/confirmacion.svg" alt=""></button>
                                </a>
                        <a href="/Funcionalidades">
                        <button class="marginIconos"><img style="width: 2.5rem; height: 2.5rem;"
                                src="/images/error.svg" alt=""></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
        var radioUsuarios = document.getElementById("inputUsuarios");
        var radioConsecutivos = document.getElementById("inputConsecutivos");
        var radioPaises = document.getElementById("inputPaises");
        var radioCajas = document.getElementById("inputCajas");
        var radioRolesEventos = document.getElementById("inputRolesEventos");
        var radioUnidadesMedida = document.getElementById("inputUnidadesMedida");


        radioUsuarios.addEventListener('click', () => {
            alert("Usuarios");
            document.getElementById("siguienteventana").setAttribute("href", "/ListaUsuarios/listarAllUsuarios");

        });

        radioConsecutivos.addEventListener('click', () => {
            alert("Consecutivos");
            document.getElementById("siguienteventana").setAttribute("href","/ListaConsecutivos/listarAllConsecutivos");

        });

        radioPaises.addEventListener('click', () => {
            alert("Paises");
            document.getElementById("siguienteventana").setAttribute("href","/ListaMesas/listarAllMesas");

        });

        radioCajas.addEventListener('click', () => {
            alert("Cajas");
            document.getElementById("siguienteventana").setAttribute("href","/ListaPuestos/listarAllPuestos");

        });

        radioRolesEventos.addEventListener('click', () => {
            alert("Roles o Eventos");
            document.getElementById("siguienteventana").setAttribute("href","/ListaPuestos/listarAllPuestos");

        });

        radioUnidadesMedida.addEventListener('click', () => {
            alert("Unidades de Medida");
            document.getElementById("siguienteventana").setAttribute("href","/ListaPuestos/listarAllPuestos");

        });

    </script>




</body>

</html>