body {
    width : auto;
    height: 1007px;
}

.MAXWandH {
    width          : 100%;
    height         : 100%;
    align-items    : center;
    justify-content: center;
}

.displayGrid {
    display: grid;
}

.espacios {
    margin-left : 2rem;
    margin-right: 2rem;
}

.espaciosDos {
    margin-top   : 5rem;
    margin-bottom: 5rem;
}

