/*Se establece una seccion principal*/
#SeccionPrincipalLR {
    width : 100%;
    height: 60%;
}

/*Se sub-divide y se trabaja en dos secciones*/
/*Seccion Izquierda encargada de una imagen */
#LSectionListaComidaBufet {
    width        : 20%;
    height       : 100%;
    display      : flex;
    align-items  : center;
    padding-left : 2rem;
    padding-right: 2rem;
    background-color: rgb(97, 47, 6);
}

.LogoCEB {
    width : 100%;
    height: 20%;

}

/*Seccion derecha donde se va a mostrar toda la informacion*/
#RSectionListaComidaBufet {
    width : 140%;
    height: 100%;
}

#mitadUno {
    width : 100%;
    height: 100%;
    float: left;
    background-color:  rgb(204, 136, 90);
}
#BmenuDos {
    width : 80%;
    height: 170%;
}

#Bmenutres {
    width : 150%;
    height: 180%;
}


.tamanoMitad {
    width : 100%;
    height: 50%;
}

#botones{
    width: 10%;
}


#mitadDos {
    width : 50%;
    height: 100%;
    background-color:  rgb(204, 136, 90) ;
}

#datosCliente {
    width : 100%;
    height: 100%;
}

#datosFinales{
    margin-top: 20%;
    padding: 30%;
    width: 300%;
    height: 130%;
    background-color: rgb(204, 136, 90) ;
}

.tamanoFyF{
    
    width: 100%;
    height: 45%;   
}
.tamanoByB{
    
    width: 100%;
    height: 70%;   
}
#mitadTres {
    width : 70%;
    height: 100%;
    background-color: rgb(204, 136, 90) ;
}

.centrarFlex{
    justify-content: center;
}
#botonesLogin{
    justify-content: center;
    width: 100%;
    height: 10%;
}