/*Se establece una seccion principal*/
#SeccionPrincipalLR {
    width : 100%;
    height: auto;
}

/*Se sub-divide y se trabaja en dos secciones*/
/*Seccion Izquierda encargada de una imagen */
#LSectionListaComidaBufet {
    width        : 30%;
    display      : flex;
    align-items  : center;
    padding-left : 2rem;
    padding-right: 2rem;
}

.LogoCEB {
    width : 100%;
    height: 20%;

}



#botonesLogin {
    justify-content: center;
    
}