/*Se establece una seccion principal*/
#SeccionPrincipalLR {
    width : 100%;
    height: 100%;
}

/*Se sub-divide y se trabaja en dos secciones*/
/*Seccion Izquierda encargada de una imagen */
#LSectionListaComidaBufet {
    width        : 20%;
    height       : 100%;
    display      : flex;
    align-items  : center;
    padding-left : 2rem;
    padding-right: 2rem;
}

.LogoCEB {
    width : 100%;
    height: 20%;

}

/*Seccion derecha donde se va a mostrar toda la informacion*/
#RSectionListaComidaBufet {
    width : 80%;
    height: 100%;
}

#mitadUno {
    width : 60%;
    height: 100%;
}

.tamanoMitad {
    width : 100%;
    height: 50%;
}


#mitadDos {
    width : 50%;
    height: 100%;
}

#datosCliente {
    width : 100%;
    height: 50%;
}

#informacionPedido {
    width : 100%;
    height: 50%;
}
.tamanoFyF{
    
    width: 100%;
    height: 45%;   
}
.centrarFlex{
    justify-content: center;
}
#botonesLogin{
    justify-content: center;
    width: 100%;
    height: 10%;
}