#contenedorReporteVinos{
    width: 70%;
    height: 50%;
    background-color: rgb(253, 196, 143);
}
#contenedorReporteVinosSuperior{
    width: 80%;
    height: 10%;
}
#imagenVinos {
    width           : 30%;
    height          : 100%;
    background-color:rgb(110, 56, 21);
}
#contenedorReporteVinosInterno{
    width: 100%;
    height: 730%;
}
#botonesLogin{
    width: 60%;
    height: 250%;
    }
