#contenedorReporteEntornoRestaurante{
    width: 80%;
    height: 40%;
    background-color: rgb(253, 196, 143);
}
#contenedorReporteEntornoRestauranteSuperior{
    width: 80%;
    height: 10%;
}
#imagenEntornoRestaurante {
    width           : 30%;
    height          : 100%;
    background-color:rgb(110, 56, 21);
}
#contenedorReporteEntornoRestauranteInterno{
    width: 100%;
    height: 680%;
}
#botonesLogin{
    width: 70%;
    height: 260%;
    display      : flex;
    align-items  : center;
    padding-left : 2rem;
    padding-right: 2rem;
}
